<header>
        <div class="container" id="maincontent" tabindex="-1">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="img/profile.png" alt="">
                    <div class="intro-text">
                        <h1 class="name">오늘의 밥약은</h1>
                        <hr class="star-light">
                        <h1 class="name"> <%= @today %>입니다.</h1>
                        <br>
                    </div>
                </div>
            </div>
        </div>
</header>