<header>
        <div class="container" id="maincontent" tabindex="-1">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="img/profile.png" alt="">
                    <div class="intro-text">
                        <h1 class="name">멋사러가 이번학기 에이쁠을 받을 과목은~</h1>
                        <hr class="star-light">
                        <h1 class="name"> <%= @Asubject %></h1>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </header>
